.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    width: 200px;
    height: 210px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.itemsDiv {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

@media (max-width: 768px) {
    .card{
        width: 150px;
        height: 180px;
    }
    .itemsDiv {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}